.ddsmoothmenu{

width: 100%;
}

.ddsmoothmenu ul{
z-index:100;
 display:block; float:left;}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display:block; float:left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display:block; float:left; font-family: 'Source Sans Pro', sans-serif; font-weight:600; font-size:14px; color:#fff; text-transform:uppercase; padding:0 17px; height:54px; line-height:54px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{

}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:url(images/orange/red_patt.jpg) repeat;
}

.ddsmoothmenu ul li a:hover{
background:url(images/orange/red_patt.jpg) repeat;
}
.current-menu-item{
  background:url(images/orange/red_patt.jpg) repeat;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute; border-top:solid 2px #ee3f02;
left: 0; padding:5px 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden; background:url(images/orange/color-1-bg.jpg) repeat;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
position:relative; padding:0 23px; margin:0; line-height:none;
float: none; display:block;  background:none !important;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

.ddsmoothmenu ul li ul li.last {}
.ddsmoothmenu ul li ul li.last a { border:none !important;}
/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	color:#fff !important; font-size:12px !important; font-family: 'DroidSansRegular' !important; display:block !important; float:none !important; line-height:33px !important; height:auto !important; margin:0 !important; padding:0 !important; text-transform:none !important; border-bottom:solid 1px #544444 !important; width:180px !important; font-weight:normal;
}
.ddsmoothmenu ul li ul li a:hover { color:#ee3f02 !important; background:none !important;}


/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;

}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 1;
}