/*	
Theme Name: Attorneys
Description: <strong>Clean Premium WordPress theme suited mainly for attorneys related site</strong>
Author: LawyerWordPresThemes
Theme URI: http://www.lawyerwordpressthemes.com/
Author URI: http://www.lawyerwordpressthemes.com/
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 1.2
Tags: white, blue
*/
@charset "utf-8";

* { margin:0; padding:0;}

body { margin:0; padding:0; font-family: 'DroidSansRegular'; font-size: 13px; color:##928E8E}

:focus { outline:none;}

.clr { clear:both; overflow:hidden;}

.fl { float:left;}

.fr { float:right;}

ul, li { list-style:none; color: #787671;}

a { text-decoration:none;}

a img, img { border:none;}



#header { width:100%; height:105px; border-bottom:solid 3px #f1eeea;}

#header .header { margin:0 auto; height:105px; width:980px;}

#header .logo { width:153px; height:69px; float:left; margin:14px 0 0 12px;}

#header .logo a { height:69px; text-indent:-9999px; background:no-repeat;}

#header .phone { width:242px; height:59px; float:right; background:url(images/blue/call_bg.png) no-repeat; margin:20px 0 0 0;}

#header .phone h5 { color:#433333; font-weight:600;  font-size:24px; margin:0; padding:13px 0 0 65px; font-family: 'Source Sans Pro', sans-serif;}

#header .phone p { color:#433333; font-weight:normal; font-size:10px; margin:0; padding:7px 0 0 50px; font-family: 'DroidSansRegular';}


#top-bg { width:100%; background:url(images/blue/color-1-bg.jpg) repeat;}


#nav { width:980px; height:54px; margin:0 auto; border-bottom:solid 2px #00b4cb; position:relative; z-index:1111;}

/*#nav ul { display:block; float:left;}

#nav ul li { display:block; float:left;}

#nav ul li a { display:block; float:left; font-family: 'DroidSansBold'; font-size:12px; color:#fff; text-transform:uppercase; padding:0 17px; height:54px; line-height:54px;}

#nav ul li a:hover { background:url(images/blue/red_patt.jpg) repeat;}

#nav ul li a.active { background:url(images/blue/red_patt.jpg) repeat;}*/


#banner-main { width:980px; height:256px; padding:0; margin:0 auto 0; position:relative; bottom:0; z-index:11;}

#banner-main .indiv { position:absolute; width:980px; height:330px; bottom:-99px; padding:0 0 25px 0; background:url(images/blue/shadow.png) no-repeat bottom;}

#banner-main .slider { width:970px; height:320px; border:solid 5px #e1dcd6; float:left; margin:0 0 0 0; background:#e1dcd6;}

#banner-main .slider .image { width:670px; height:320px; float:left; background:#e1dcd6;}

#banner-main .slider .caption { width:300px; float:left; height:320px; background:#e1dcd6;}

#banner-main .slider .caption h2 { font-size:26px; font-weight:normal; margin:0; padding:15px 20px 0 25px; font-family: 'DroidSansBold'; color:#726161;}

#banner-main .slider .caption h2 span { color:#433333; font-weight:600;font-family:'Source Sans Pro', sans-serif; line-height: 30px;}

#banner-main .slider .caption h2 strong { font-weight:600; color:#00b4cb;}

#banner-main .slider .caption h2 b { font-weight:normal; display:block;}

#banner-main .slider .caption h3 { font-size:15px; font-weight:600; margin:0; margin:15px 20px 0 25px; font-family: 'Source Sans Pro', sans-serif; color:#433333; border-bottom:dashed 1px #a49c9c; padding:10px 0 10px 0;}

#banner-main .slider .caption p { font-family: 'DroidSansRegular'; color:#665d5d; line-height:20px; font-size:13px; padding:15px 25px 0;}

#banner-main .slider .caption p a { color:#00b4cb; font-family: 'DroidSansBold';}


#banner-main-2 { width:980px; height:96px; margin:0 auto 0; position:relative; bottom:0; z-index:11;}

#banner-main-2 .indiv { position:absolute; width:980px; height:140px; bottom:-69px; padding:0 0 25px 0; background:url(images/blue/shadow.png) no-repeat bottom;}

#banner-main-2 .slider { width:980px; height:140px; float:left; margin:0 0 0 0; background:#fff; position:relative;}

#banner-main-2 h2 { font-size:26px; font-weight:600; line-height:30px; margin:0; padding:25px 30px 0; font-family: 'Source Sans Pro', sans-serif; color:#433333;}

#banner-main-2 p { font-size:13px; line-height:20px; color:#665d5d; margin:0; padding:10px 480px 0 30px; font-family: 'DroidSansRegular'; }

#banner-main-2 .breadcrum { position:absolute; right:30px; bottom:25px;}

#banner-main-2 .breadcrum ul { display:block; position:relative;}

#banner-main-2 .breadcrum ul li { display:block; float:left; /*background:url(images/blue/bread-li-bg.png) no-repeat right 5px;*/ padding:0 11px 0 7px; font-size:13px; color:#00b4cb; font-family: 'DroidSansRegular';padding: 0 0 0 7px;}

#banner-main-2 .breadcrum ul li.last { background:none; padding-right:0;padding-left: 0;}

#banner-main-2 .breadcrum ul li a { display:block; float:left; font-size:13px; color:#898181; font-family: 'DroidSansRegular'; margin:0 5px; background:url(images/blue/bread-li-bg.png) no-repeat right 5px; padding:0 11px 0 0;}

#banner-main-2 .breadcrum ul li span { display:block; float:left; font-size:13px; color:#00b4cb; font-family: 'DroidSansRegular';}

#banner-main-2 .breadcrum ul li a:hover { color:#00b4cb;}

#second-strip { width:100%; position:relative; background:url(images/blue/color-2-bg.jpg) repeat; padding:100px 0 0 0; border-bottom:solid 1px #e9e5dc; box-shadow:0 -1px 0 #fbfaf7 inset;}

#second-strip .strip { width:980px; margin:0 auto;}

#second-strip .strip p { font-family: 'DroidSerifItalic'; font-size:21px; color:#433333; line-height:30px; padding:15px 0 30px 0;}

#second-strip .strip .btn { width:238px; height:77px; float:right; margin:15px 0 0 0;}

#second-strip .strip .btn a { width:238px; height:60px; float:right; display:block; background:url(images/blue/yellow-btn.png) no-repeat; font-size:24px; font-weight:600; color:#2b2b2b; font-family: 'Source Sans Pro', sans-serif; text-transform:uppercase; text-shadow:1px 1px 0 #f5e096; text-align:center; padding:17px 0 0 0;}

#second-strip .strip .btn a span { display:block; font-size:13px; font-weight:normal; color:#686558; font-family: 'DroidSansRegular'; text-transform:none;}

#second-strip .strip .btn a:hover { background:url(images/blue/yellow-btn-hover.png) no-repeat;}

#container { width:100%; background:url(images/blue/main-bg.jpg) repeat; padding:50px 0; overflow:hidden;}

#content { width:980px; margin:0 auto; overflow:hidden;}

#content .leftside { width:642px; float:left;}

#content .rightside { width:306px; float:right;}

#content h2 { font-weight:600; color:#433333; font-size:23px; font-family: 'Source Sans Pro', sans-serif; margin:0; padding:0 0 25px 0; overflow:hidden; clear:both;} 

#content h2 strong { font-weight:600; font-family: 'Source Sans Pro', sans-serif;}

#content h3 { font-weight:600; color:#433333; font-size:24px; font-family: 'Source Sans Pro', sans-serif; margin:0; padding:0 0 25px 0; overflow:hidden; clear:both;} 

#content h3 strong { font-weight:600; font-family: 'Source Sans Pro', sans-serif;}

#content .image-left { float:left; border:solid 6px #fff; margin:0 15px 15px 0;height:168px;border-radius:5px;box-shadow:1px 1px 1px #ddd;}

#content p { color:#928f84; font-size:13px; font-family: 'DroidSansRegular'; margin:0; padding:5px 0 15px 0; line-height:20px;}

#content .rightside ul { display:block; overflow:hidden;}

#content .rightside ul li { display:block; overflow:hidden; border-bottom:solid 1px #e3e0d9;}

#content .rightside ul li a { display:block; font-size:13px; color:#676561; background:url(images/blue/right-arr.png) no-repeat left 12px; padding:0 0 0 15px; font-family: 'DroidSansRegular'; line-height:30px;}

#content .rightside ul li a:hover { color:#00b4cb;}

.saad p {
font-size:12px!important;
color:#433!important;}
#meetrow { width:980px; overflow:hidden; clear:both; padding:50px 0 0 0;}

#meetrow .last { margin-right:0 !important;}

#meetrow .block { width:306px; float:left; box-shadow:1px 1px 0 #e6e2db; -moz-box-shadow:1px 1px 0 #e6e2db; -webkit-box-shadow:1px 1px 0 #e6e2db; overflow:hidden; margin:0 31px 0 0;}

#meetrow .block .image { width:306px; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; overflow:hidden;margin-bottom:-5px;}

#meetrow .block .con-meet { width:306px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; background:#fff; padding:5px 0;}

#meetrow .block .con-meet p { font-family: 'DroidSansRegular'; font-size:13px; color:#787671; padding:10px 20px; line-height:20px;}

#meetrow .block .con-meet p strong { font-family: 'DroidSansBold'; font-size:14px; font-weight:normal; color:#00b4cb; display:block;}

#meetrow .block .con-meet p strong a { color:inherit;}

#meetrow .block .con-meet p strong a:hover { color:#787671;}


#testi-row { overflow:hidden; width:980px; height:230px; padding:50px 0 0 0;}

#testi-row .record{height:230px; }

#testi-row .testimonial { width:475px; float:left;}

#testi-row .testimonial .leftright { float:right; padding:6px 0 0 0;}

#testi-row .testimonial .leftright a { display:block; float:left; width:19px; height:19px; margin:0 3px;}

#testi-row .testimonial .leftright a.left { background:url(images/blue/testi-left.png) no-repeat;}

#testi-row .testimonial .leftright a.left:hover { background:url(images/blue/testi-left-hover.png) no-repeat;}

#testi-row .testimonial .leftright a.right { background:url(images/blue/testi-right.png) no-repeat;}

#testi-row .testimonial .leftright a.right:hover { background:url(images/blue/testi-right-hover.png) no-repeat;}

#testi-row .testimonial .testi-text { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#ede5d5;}

#testi-row .testimonial .testi-text p { font-family: 'DroidSerifItalic'; font-size:13px; color:#787671; line-height:20px; padding:10px 20px;}

#testi-row .testimonial .testi-owner { overflow:hidden; padding:22px 0 0 0;}

#testi-row .testimonial .testi-owner .img { float:left; background:#fff; width:70px; height:63px; box-shadow:1px 1px 0 #e6e2db; -moz-box-shadow:1px 1px 0 #e6e2db; -webkit-box-shadow:1px 1px 0 #e6e2db; margin:0 15px 0 0;}

#testi-row .testimonial .testi-owner p { color:#4d4d4d; font-size:12px; line-height:20px; margin:0; padding:10px 0 0 0; font-family: 'DroidSansRegular';}

#testi-row .testimonial .testi-owner p strong { display:block; font-weight:normal; display:block; font-size:14px; color:#00b4cb; font-family: 'DroidSansBold';}


#testi-row .awards { width:475px; float:right;}

#testi-row .awards .con-award { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:#ede5d5; overflow:hidden; padding:10px 10px;}

#testi-row .awards .con-award img { display:block; float:left; margin:10px;}


#mid-content { width:920px; margin:30px auto 10px; overflow:hidden; background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:1px 1px 0 #e6e2db; -moz-box-shadow:1px 1px 0 #e6e2db; -webkit-box-shadow:1px 1px 0 #e6e2db;}

#mid-content .image-main { width:902px; margin:9px auto 20px; overflow:hidden;}

#mid-content p { font-size:13px; line-height:22px; color:#787671; margin:0; padding: 10px 10px; font-family: 'DroidSansRegular'}

#mid-content .image-1 { float:left; margin:0 20px 20px 9px;}

#mid-content h2 { font-weight:600; clear:both; overflow:hidden; padding:25px 9px 15px; font-size:21px; line-height:30px; color:#433333; font-family: 'Source Sans Pro', sans-serif;padding-left: 10px !important;}

#mid-content h3 { font-weight:600; clear:both; overflow:hidden; padding:15px 9px 15px; font-size:21px; line-height:30px; color:#433333; font-family: 'Source Sans Pro', sans-serif;}

#mid-content .liststylemain { overflow:hidden; padding:0 9px 20px;}

#mid-content .liststylemain .block-1 { float:left; margin:0 30px 0 0;}

#mid-content .liststylemain .block-1 ul { display:block; overflow:hidden;}

#mid-content .liststylemain .block-1 ul li { display:block; overflow:hidden; background:url(images/blue/right-arr.png) no-repeat left 12px; line-height:30px; padding:0 0 0 17px; font-size:13px; color:#787671; font-family: 'DroidSansRegular';}

#mid-content .liststylemain .block-2 { float:left; margin:0 30px 0 0;}

#mid-content .liststylemain .block-2 ul { display:block; overflow:hidden;}

#mid-content .liststylemain .block-2 ul li { display:block; overflow:hidden; background:url(images/blue/bullet-1.png) no-repeat left center; line-height:30px; padding:0 0 0 17px; font-size:13px; color:#787671; font-family: 'DroidSansRegular';}

#mid-content .liststylemain .block-3 { float:left; margin:0 30px 0 0;}

#mid-content .liststylemain .block-3 ul { display:block; overflow:hidden;}

#mid-content .liststylemain .block-3 ul li { display:block; overflow:hidden; background:url(images/blue/bullet-2.png) no-repeat left center; line-height:30px; padding:0 0 0 23px; font-size:13px; color:#787671; font-family: 'DroidSansRegular';}


#mid-content .map { float:right; width:302px; height:256px; margin:0 9px 20px 30px;}


#mid-content .con-info { overflow:hidden; padding:0 0 0 10px;}

#mid-content .con-info .telephone { width:140px; float:left; padding:0 0 0 50px; background:url(images/blue/telephone.png) no-repeat left 7px;}

#mid-content .con-info .telephone p { margin:0; padding:0;}

#mid-content .con-info .mail { width:175px; float:left; padding:0 0 0 50px; background:url(images/blue/mail-icon.png) no-repeat left 7px;}

#mid-content .con-info .mail p { margin:0; padding:0;}

#mid-content .con-info .mail p a { color:#787671;}

#mid-content .seprator-con { overflow:hidden; height:1px; margin:15px 9px; background:#f2f2f2; clear:both;}


#mid-content .contact-form { overflow:hidden; padding:0 0 20px 0;}

#mid-content .contact-form ul { display:block; overflow:hidden; padding:10px 10px 0;}

#mid-content .contact-form ul li { display:block; overflow:hidden; padding:0 0 20px 0;}

#mid-content .contact-form .textbox { width:218px; height:15px; border:none; background:url(images/blue/contact-textbox.png) no-repeat; padding:7px 10px; font-size:13px; color:#9c9b97; font-family: 'DroidSansRegular';}

#mid-content .contact-form .textarea { width:478px; height:99px; border:none; background:url(images/blue/textarea-bg.png) no-repeat; padding:7px 10px; font-size:13px; color:#9c9b97; font-family: 'DroidSansRegular';}

#mid-content .contact-form .submit-btn { width:78px; height:29px; background:url(images/blue/submit-btn.png) no-repeat; border:none; cursor:pointer;}


#sec-content { width:920px; margin:30px auto 10px; overflow:hidden; }


#blog { width:640px; float:left;}

#blog .tital { overflow:hidden;}

#blog .tital h2 { font-weight:600; clear:both; overflow:hidden; padding:0 0 5px 0; font-size:23px; line-height:30px; color:#433333; font-family: 'Source Sans Pro', sans-serif;}

#blog .tital h2 a { color:#433333;}

#blog .tital .detail { overflow:hidden;}

#blog .tital .detail p { font-size:13px; color:#868173; font-family: 'DroidSansRegular'; margin:0; padding:0;}

#blog .tital .detail p a { color:#00b4cb;}

#blog .section { position:relative; background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:1px 1px 0 #e6e2db; -moz-box-shadow:1px 1px 0 #e6e2db; -webkit-box-shadow:1px 1px 0 #e6e2db; margin:15px 0 35px 0; padding:10px 0 5px 0;}

#blog .section .date-box { width:138px; height:33px; position:absolute; right:-1px; top:-30px; background:url(images/blue/date-bg.png) no-repeat;}

#blog .section .date-box p { font-size:14px; color:#6e6e6e; margin:0; line-height:30px; font-family: 'DroidSansRegular'; text-align:right; padding:0 12px 0 0;}

#blog .section .date-box p span { color:#00b4cb;}

#blog .section .blog-image { margin:0 auto; width:623px; margin:0 auto 10px;}

#blog .section p { color:#787671; font-size:13px; line-height:20px; padding:0 10px 20px 10px;}

#blog .liststylemain { overflow:hidden; padding:0 9px 20px;}

#blog .liststylemain .block-1 { float:left; margin:0 30px 0 0;}

#blog .liststylemain .block-1 ul { display:block; overflow:hidden;}

#blog .liststylemain .block-1 ul li { display:block; overflow:hidden; background:url(images/blue/right-arr.png) no-repeat left 12px; line-height:30px; padding:0 0 0 17px; font-size:13px; color:#787671; font-family: 'DroidSansRegular';}

#blog .liststylemain .block-2 { float:left; margin:0 30px 0 0;}

#blog .liststylemain .block-2 ul { display:block; overflow:hidden;}

#blog .liststylemain .block-2 ul li { display:block; overflow:hidden; background:url(images/blue/bullet-1.png) no-repeat left center; line-height:30px; padding:0 0 0 17px; font-size:13px; color:#787671; font-family: 'DroidSansRegular';}

#blog .liststylemain .block-3 { float:left; margin:0 30px 0 0;}

#blog .liststylemain .block-3 ul { display:block; overflow:hidden;}

#blog .liststylemain .block-3 ul li { display:block; overflow:hidden; background:url(images/blue/bullet-2.png) no-repeat left center; line-height:30px; padding:0 0 0 23px; font-size:13px; color:#787671; font-family: 'DroidSansRegular';}


#comments { overflow:hidden;}

#comments ul { display:block; overflow:hidden;}

#comments ul li { display:block; overflow:hidden; border-bottom:solid 1px #e3e0d9; padding:0 0 20px 0; margin:0 0 20px 0;}

#comments ul li .image { float:left; width:85px; height:86px; background:url(images/blue/photo-bg.png) no-repeat; margin:0 10px 0 0;}

#comments ul li .image img { margin:5px 0 0 5px;}

#comments ul li h5 { font-weight:normal; font-size:13px; color:#a7a7a7; font-family: 'DroidSansRegular'; line-height:22px;}

#comments ul li h5 span { color:#626262; font-family: 'DroidSansBold';}

#comments ul li h5 a { color:#626262; }

#comments ul li h5 strong { font-weight:normal; color:#626262;}

#comments ul li p { font-weight:normal; font-size:13px; color:#a7a7a7; font-family: 'DroidSansRegular'; line-height:20px; margin:0; padding:0;}

#comments ul li p strong { display:block; font-weight:normal;}

#comments ul li p strong a { font-size:12px; color:#f53806; font-family: 'DroidSansBold'; display:inline-block; background:url(images/blue/right-arr.png) no-repeat right 12px; padding:0 15px 0 0;}

#comments ul ul { clear:both;}

#comments ul ul li { padding: 0 0 20px 80px; border-bottom: 1px solid #E3E0D9; margin: 0 0 20px;}


#add-comment { overflow:hidden;}

#add-comment ul { display:block; overflow:hidden; padding:10px 10px 0;}

#add-comment ul li { display:block; overflow:hidden; padding:0 0 20px 0;}

#add-comment .textbox { width:240px; height:18px; border:none; background:url(images/blue/add-com-textbox.png) no-repeat; padding:7px 10px; font-size:13px; color:#c1c1c1; font-family: 'DroidSansRegular';}

#add-comment .textarea { width:624px; height:70px; border:none; background:url(images/blue/add-com-textarea.png) no-repeat; padding:7px 10px; font-size:13px; color:#c1c1c1; font-family: 'DroidSansRegular';}

#add-comment .submit-btn { width:76px; height:29px; background:url(images/blue/submit-btn-2.png) no-repeat; border:none; cursor:pointer;}

#add-comment span { display:inline-block; font-size:13px; color:#fc662c; font-family: 'DroidSansRegular'; padding:0 0 0 10px }







#pagination .wp-pagenavi { overflow:hidden; display:block; text-align:center;}

#pagination .wp-pagenavi span { margin:0; padding:0; line-height:normal; display:inline-block; font-family: 'DroidSansRegular'; font-size:13px; text-align:center; color:#787671; border:none;}

#pagination .wp-pagenavi a { color:#787671; display:inline-block; border:none; padding:2px 4px; font-family: 'DroidSansRegular'; font-size:13px; text-align:center;}

#pagination .wp-pagenavi a:hover { color:#f9541a;}

#pagination .wp-pagenavi span { color:#f9541a;}

#pagination .wp-pagenavi a.active { color:#f9541a;}

#pagination .wp-pagenavi a.nextprew { text-decoration:underline;}

#pagination .wp-pagenavi span.pages { padding:0 10px;}

#pagination .wp-pagenavi span.current { padding:0 4px;}




#rightbar { width:250px; float:right;}

#rightbar .search-box { overflow:hidden; padding:0 0 30px 0;}

#rightbar .search-box .textbox { width:198px; height:16px; background:url(images/blue/search-icon.png) no-repeat 220px center #fff; border:solid 1px #e6e3dd; padding:7px 40px 7px 10px; line-height:16px; font-size:12px; color:#544b4b; font-family: 'DroidSansRegular';}

#rightbar .search-box .input-search { -webkit-appearance:none;width:248px; height:30px; background:url("images/blue/search-icon.png") no-repeat scroll 220px center #FFFFFF; border:solid 1px #e6e3dd; text-indent:10px; line-height:16px; font-size:12px; color:#544b4b; font-family: 'DroidSansRegular';}

#rightbar h2 { padding-bottom:15px;}

#rightbar .sidelinks { overflow:hidden; padding:0 0 35px 0;}

#rightbar .sidelinks ul { display:block; overflow:hidden;}

#rightbar .sidelinks ul li { display:block; overflow:hidden; border-bottom:solid 1px #e3e0d9;}

#rightbar .sidelinks ul li.last { border:none;}
.menu-item a img { 
display:none;}
#rightbar .sidelinks ul li > a { display:block; font-size:13px; color:#676561; background:url(images/blue/right-arr.png) no-repeat left 12px; padding:0 0 0 15px; font-family: 'DroidSansRegular'; line-height:30px;}

#rightbar .sidelinks ul li a:hover { color:#00b4cb;}


#rightbar .recentpost-rbar { overflow:hidden; padding:0 0 50px 0;}

#rightbar .recentpost-rbar ul { display:block; overflow:hidden;}

#rightbar .recentpost-rbar ul li { display:block; overflow:hidden; border-bottom:solid 1px #e3e0d9; padding:5px 0 15px 0; margin:0 0 10px 0;}

#rightbar .recentpost-rbar ul li.last { border:none;}

#rightbar .recentpost-rbar ul li .image { width:84px; height:86px; background:url(images/blue/iimg-bg.png) no-repeat; float:left; margin:0 10px 0 0;}

#rightbar .recentpost-rbar ul li .image img { margin:5px 0 0 5px;}

#rightbar .recentpost-rbar ul li h6 { font-weight:normal; font-size:13px; color:#656363; font-family: 'DroidSansBold'; margin:0; padding:3px 0 3px 0; line-height:18px;}

#rightbar .recentpost-rbar ul li h6 a { color:#656363;}

#rightbar .recentpost-rbar ul li p { font-size:12px; line-height:18px; margin:0; padding:0; color:#787671; font-family: 'DroidSansRegular';}





#profile-con { overflow:hidden;}
#profile-con .pro-list { width:980px; overflow:hidden; clear:both; padding:50px 0 0 0;}
#profile-con .pro-list-last { margin-right:0 !important;}
#profile-con .pro-list .block { width:306px; float:left; box-shadow:1px 1px 0 #e6e2db; -moz-box-shadow:1px 1px 0 #e6e2db; -webkit-box-shadow:1px 1px 0 #e6e2db; overflow:hidden; margin:0 31px 35px 0;}
#profile-con .pro-list .block .image { width:306px; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; overflow:hidden;}
#profile-con .pro-list .block .con-meet { width:306px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; background:#fff; padding:5px 0;margin-top:-5px;}
#profile-con .pro-list .block .con-meet p { font-family: 'DroidSansRegular'; font-size:13px; color:#787671; padding:10px 20px; line-height:20px;}
#profile-con .pro-list .block .con-meet p strong { font-family: 'DroidSansBold'; font-size:14px; font-weight:normal; color:#00b4cb; display:block;}
#profile-con .pro-list .block .con-meet p a { color:#00b4cb;}


#profile-con .pro-detail { background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:1px 1px 0 #e6e2db; -moz-box-shadow:1px 1px 0 #e6e2db; -webkit-box-shadow:1px 1px 0 #e6e2db; width:642px; float:left; margin:50px 0 0 0;}
#profile-con .pro-detail .image { width:241px; height:187px; float:left; margin:10px;}
#profile-con .pro-detail h4 { font-family: 'DroidSansBold'; font-size:14px; font-weight:normal; color:#00b4cb; display:block; padding:10px 0 10px 0;}
#profile-con .pro-detail p { font-family: 'DroidSansRegular'; font-size:13px; color:#787671; padding:10px 20px 10px 10px; line-height:20px;}
#profile-con .pro-detail p strong { font-family: 'DroidSansBold'; font-size:14px; font-weight:normal; color:#00b4cb; display:block;}
#profile-con .pro-detail p a { color:#00b4cb;}

#profile-con .pro-detail .books-list { overflow:hidden;}
#profile-con .pro-detail .books-list h3 { font-family: 'DroidSansBold'; font-size:18px; font-weight:normal; color:#00b4cb; display:block; padding:10px;}
#profile-con .pro-detail .books-list ul { display:block; overflow:hidden; clear:both; padding:10px 0 10px 10px;}
#profile-con .pro-detail .books-list ul li { display:block; float:left; width:105px; margin:0 10px 0 5px;}
#profile-con .pro-detail .books-list ul li .b-img {}
#profile-con .pro-detail .books-list ul li p { font-family: 'DroidSansBold'; font-size:13px; font-weight:normal; color:#787671; display:block; padding:5px 0 0 0; margin:0;}
#profile-con .pro-detail .books-list ul li p a { color:#787671;}


#profile-con .rightside { width:306px; float:right; padding:50px 0 0 0;}
#profile-con .rightside .block { width:306px; float:left; box-shadow:1px 1px 0 #e6e2db; -moz-box-shadow:1px 1px 0 #e6e2db; -webkit-box-shadow:1px 1px 0 #e6e2db; overflow:hidden; margin:0 31px 35px 0;}
#profile-con .rightside .block .image { width:306px; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; overflow:hidden; position:relative;}
#profile-con .rightside .block .image a.playbtn { width:44px; height:44px; position:absolute; background:url(images/blue/play-arrow.png) no-repeat; right:15px; bottom:20px;}
#profile-con .rightside .block .con-meet { width:306px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; background:#fff; padding:5px 0;}
#profile-con .rightside .block .con-meet p { font-family: 'DroidSansRegular'; font-size:13px; color:#787671; padding:10px 20px; line-height:20px;}
#profile-con .rightside .block .con-meet p strong { font-family: 'DroidSansBold'; font-size:14px; font-weight:normal; color:#00b4cb; display:block;}
#profile-con .rightside .block .con-meet p a { color:#00b4cb;}
#profile-con .rightside .block .con-meet a.contact-btn { background:url(images/blue/contact-btn.png) no-repeat; width:256px; height:48px; display:block; clear:both; color:#fff; font-family: 'DroidSansBold'; font-size:18px; line-height:48px; text-align:center; margin:10px 0 30px 20px;}
#profile-con .rightside .block .con-meet a.contact-btn:hover { background:url(images/blue/contact-btn-hover.png) no-repeat;}








#footer { width:100%; height:302px; background:url(images/blue/footer_bg.jpg) repeat;}

#footer .footer { width:980px; margin:0 auto; height:302px;}

#footer .block-1 { width:306px; float:left;} 

#footer .block-1 .logo { width:150px; height:69px; margin:32px 0 0 0;}

#footer .block-1 p { font-size:12px; color:#b5b5b5; font-family: 'DroidSansRegular'; color:#b5b5b5; line-height:20px; padding:25px 40px 0 0;}

#footer .block-1 p a { color:#ede5d5;}

#footer .block-1 p a:hover { color:#00b4cb;}

#footer .block-1 .social { overflow:hidden; padding:20px 0 0 0;}

#footer .block-1 .social a { display:block; width:24px; height:24px; margin:0 10px 0 0; float:left;}



#footer .block-2 { width:170px; float:left;}

#footer .block-2 ul { display:block; float:left; width:170px;}

#footer .fwidget ul li { display:block; overflow:hidden; border-bottom:solid 1px #404647;}

#footer .block-2 ul li.last { border:none;}

#footer .fwidget ul li a { display:block; font-size:11px; text-transform:uppercase; color:#b5b5b5; font-family: 'DroidSansBold'; line-height:30px;}

#footer .fwidget ul li a:hover { color:#00b4cb;}
.fwidget .block-4 ul { width:200px;}
.slider p a { display:none;}
#footer .block-3 { width:170px; float:left; margin-left:30px;}

#footer .block-3 ul { display:block; float:left; width:170px;}

#footer .block-3 ul li { display:block; overflow:hidden; border-bottom:solid 1px #404647;}

#footer .block-3 ul li.last { border:none;}

#footer .block-3 ul li a { display:block; font-size:11px; text-transform:uppercase; color:#b5b5b5; font-family: 'DroidSansBold'; line-height:30px;}

#footer .block-3 ul li a:hover { color:#00b4cb;}


#footer .block-4 { width:264px; float:left; margin-left:40px;}
.fwidget .block-3 .cont { width:190px;}

#footer .fwidget p { font-size:12px; color:#b5b5b5; font-family: 'DroidSansRegular'; color:#b5b5b5; line-height:20px; padding:65px 40px 0 0;}

#footer .fwidget p strong, .fwidget .widget-title { font-weight:normal; font-size:14px; color:#ede5d5; display:block; font-family: 'Source Sans Pro', sans-serif; padding:0 0 15px 0;}

#footer .fwidget .cont { width:224px; overflow:hidden; border-top:solid 1px #404647; padding:10px 0 0 0; margin:10px 0 0 0;}

#footer .fwidget .cont span.tele { overflow:hidden; font-size:12px; color:#b5b5b5; font-family: 'DroidSansRegular'; color:#b5b5b5; line-height:24px; display:block; background:url(images/blue/tele-icon.png) no-repeat left 5px; padding:0 0 0 30px;}

#footer .fwidget .cont span.print { overflow:hidden; font-size:12px; color:#b5b5b5; font-family: 'DroidSansRegular'; color:#b5b5b5; line-height:24px; display:block; background:url(images/blue/print-icon.png) no-repeat left 5px; padding:0 0 0 30px;}
.fw2 {
margin-top:0px!important;}

#footer .current-menu-item {background:none;}





a.hotbut {

    display: inline-block;

    font-size: 17px;

    font-weight: bold;

    height: 41px;

    padding-right: 10px;

    color: #183f4c;

    background: #ffd14c;

    text-decoration: none;

    -moz-border-radius-bottomleft:4px;

    -moz-border-radius-bottomright:4px;

    -moz-border-radius-topleft:4px;

    -moz-border-radius-topright:4px;

    -webkit-border-top-left-radius:4px;

    -webkit-border-top-right-radius:4px;

    -webkit-border-bottom-left-radius:4px;

    -webkit-border-bottom-right-radius:4px;

    border-bottom-left-radius: 4px 4px;

    border-bottom-right-radius: 4px 4px;

    border-top-left-radius: 4px 4px;

    border-top-right-radius: 4px 4px;



}

a.hotbut:hover {

    color: #fff;

    background: #888888;

    text-decoration: none;

    padding-right: 10px;

    -moz-border-radius-bottomleft:4px;

    -moz-border-radius-bottomright:4px;

    -moz-border-radius-topleft:4px;

    -moz-border-radius-topright:4px;

    -webkit-border-top-left-radius:4px;

    -webkit-border-top-right-radius:4px;

    -webkit-border-bottom-left-radius:4px;

    -webkit-border-bottom-right-radius:4px;

    border-bottom-left-radius: 4px 4px;

    border-bottom-right-radius: 4px 4px;

    border-top-left-radius: 4px 4px;

    border-top-right-radius: 4px 4px;

}



a.hotbut span {

    display: block;

    line-height: 14px;

    padding: 13px 0px 14px 10px;



}

a.hotbut:hover span {

    color: #fff;

    padding: 13px 0px 14px 10px;

}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;  
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('images/blue/info.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('images/blue/success.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('images/blue/warning.png');
}
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('images/blue/error.png');
}
.a_warning{
	float:right;	
	text-decoration:underline;
	color:#000000;

}

.shortcode table { margin: 1em; border-collapse: collapse; }
.shortcode td, th { padding: .3em; }
.shortcode thead { background: #fc9; }

tr:hover {
background:#fde8dd;}



#respond {}
#respond h3#reply-title { clear:both; color:#433333; font-family: 'Source Sans Pro', sans-serif; font-size: 23px; font-weight: normal; margin: 0; overflow: hidden; padding: 0 0 25px;}

#commentform {}
#commentform p.comment-form-author { overflow:hidden;}
#commentform p.comment-form-author input { background: url("images/blue/add-com-textbox.png") no-repeat scroll 0 0 transparent; float:left;border: medium none; color: #C1C1C1; font-family: 'DroidSansRegular';  font-size: 13px; height: 18px; padding: 7px 10px; width: 240px; margin:0 0 0 0px;}
#commentform p.comment-form-author label {     color: #FC662C;
    width:200px;
    display: block;
    float: left;
    line-height: 33px;
    text-indent: 10px;}
#commentform p.comment-form-author span { display:block; float:left; width:10px; color:#f00; margin:0 0 0 -10px;}

#commentform p.comment-form-email { overflow:hidden;}
#commentform p.comment-form-email input { float:left;background: url("images/blue/add-com-textbox.png") no-repeat scroll 0 0 transparent; border: medium none; color: #C1C1C1; font-family: 'DroidSansRegular';  font-size: 13px; height: 18px; padding: 7px 10px; width: 240px; margin:0 0 0 0px;}
#commentform p.comment-form-email label {    color: #FC662C;
    display: block;
    float: left;
    line-height: 33px;
    text-indent: 10px;
    width: 200px;}
#commentform p.comment-form-email span { display:block; float:left; width:10px; color:#f00; margin:0 0 0 -10px;}


#commentform p.comment-form-url { overflow:hidden;}
#commentform p.comment-form-url input { background: url("images/blue/add-com-textbox.png") no-repeat scroll 0 0 transparent; border: medium none; color: #C1C1C1; font-family: 'DroidSansRegular';  font-size: 13px; height: 18px; padding: 7px 10px; width: 240px; margin:0 0 0 10px;}
#commentform p.comment-form-url label { width:100px; display:block; float:left;}
#commentform p.comment-form-url span { display:block; float:left; width:10px; color:#f00; margin:0 0 0 -10px;}


#commentform p.comment-form-comment { overflow:hidden;}
#commentform p.comment-form-comment textarea { background: url("images/blue/add-com-textarea.png") no-repeat scroll 0 0 transparent; border: medium none; color: #C1C1C1; font-family: 'DroidSansRegular'; font-size: 13px; height: 70px; padding: 7px 10px; width: 624px; margin:5px 0 0 0;}
#commentform p.comment-form-comment label { width:100px; display:block; float:left;}

#commentform p.form-submit { overflow:hidden;}
#commentform p.form-submit input { background: url("images/blue/submit-btn-2.png") no-repeat scroll 0 0 transparent; border: medium none; cursor: pointer; height: 29px; width: 76px; text-indent:-9999px;}



.content { width:640px; float:left;}
.content h2 { padding:25px 0 10px 0 !important;}


#tabs { overflow:hidden; background:url(images/blue/seprator.png) repeat; padding:10px; }
#tabs ul {float: left; padding:0 0 0 10px;}
#tabs li { margin:0; list-style: none; padding:0 3px;}
* html #tabs li { display: inline;}
#tabs li a { float: left; color:#5b5b5b; height:36px; line-height:36px; font-size:13px; background:url("images/blue/tab_dis.png") repeat-x; padding:0 30px; border-radius:7px 7px 0 0; -moz-border-radius:7px 7px 0 0; -webkit-border-radius:7px 7px 0 0; color:#5a5a5a; font-size:14px; font-family: 'DroidSansRegular'; border-color:#e2e0e0; border-style:solid; border-width:1px 1px 0 1px;}
#tabs li { display:block; float:left;}
#tabs ul li.active { }
#tabs ul li.active a { background:url(images/blue/tab_act.png) repeat-x; color:#fff; border-color:transparent;}
#tabs div { 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
background: #fff; clear: both; padding: 15px; min-height: 30px; }
#tabs div h3 { font-size:24px; color:#818181; font-weight:normal; padding:15px 0 0 0;}
#tabs div p { line-height:24px; color:#928e8e; font-size:12px; }
#tabs div .image { padding:6px; float:left; background:url("images/blue/seprator.png") repeat; display:block !important; margin:17px 20px 0 6px; min-height: 40px;}
#tabs ul li a { text-decoration: none; }
#pagination { overflow:hidden; display:block;}
#pagination .page-numbers { margin:0; padding:0;padding-right:2px; line-height:normal; font-family: 'DroidSansRegular'; font-size:16px; text-align:center; color:#787671;}
#pagination .page-numbers a { color:#787671; display:inline-block;}
#pagination  .page-numbers a:hover { color:#f9541a;}
#pagination .page-numbers span { color:#f9541a;}
#pagination .page-numbers a.active { color:#f9541a;}
#pagination .page-numbers a.nextprew { text-decoration:underline;}
.page-numbers li {
display:inline-block;}
.section p a, #rightbar p a, .logged-in-as a, h6 a:hover {
color:#00b4cb!important;}
.textwidget {
    color: #787671;
    font-size: 13px;
    line-height: 20px;
    padding: 0 9px 0px;
	 font-family: 'DroidSansRegular';
	 padding-left:0px;}
	 .widget-container {
	 margin-bottom: 35px;}
	 .mail {
	 height:66px;}
	 .bypostauthor { background-color:#e7f8fb; }
.sticky { color:red;}
.gallery-caption {
margin:5px;
background:none;
border:none;
float:left;}
.fat {
width:192px;
height:57px;
padding: 10px 20px 15px 10px;
float:left;}
.fwidget {
margin-top: 65px;}
.gridy {
background:#fcf9f9;
font-family:'Droid Sans';
border-radius:5px;
box-shadow:1px 1px 1px #ddd;
    font-size: 13px;
    line-height: 20px;
color:#817d7d;
margin:0px 0px 25px 0px;
padding:10px;
border-radius:1px 1px 1px #ddd;}
.gridy strong {
    display: block;
    font-family: 'DroidSansBold';
    padding-bottom: 10px;
    width: 100%;}
.gridhalf {
    float: left;
    width: 412px;}	
	.gridthird {
    float: left;
    width: 257px;}	
		.gridfourth {
    float: left;
    width: 179px;}	
	#pagination {
	width:640px;}
	#pagination .next, #pagination .prev {
	text-decoration: underline;}
	.acc_expant {
	    border: 1px solid #E2E0E0;
    height: auto;
    margin-bottom: 5px;}
	.basic a.selected {
	margin-bottom:0px;
	margin-top: 5px;}
	.basic1 .acc_expant {
	border:none;}
	.basic1 .acc_expant p {
	padding-left:0px!important;}
	table {
	margin-left:10px;
	width: 900px!important;}
	#blog .tital .detail p a {
    color: #868173;
}
	a[rel~="category"] { 
	color:#00b4cb!important;
	
	}
	p:empty{display:none}
	#tab-1 p, #tab-2 p, #tab-3 p{
	padding-left:0px!important;
	padding-top:0px!important;}
	.gridfull {
	width:878px;}
	.othr {
    color: #626262 !important;
    font-family: 'DroidSansRegular' !important;}
	#rightbar .recentpost-rbar ul li:last-child , #rightbar .sidelinks ul li:last-child {
	border-bottom:none;}
	#archives-2 {
	border-bottom:0px!important;}
	#content .rightside ul li:last-child {
	border-bottom:none!important;}
	#footer .fwidget .cont span.tele2 {
    background: url("images/blue/print-icon.png") no-repeat scroll left 5px transparent!important;}
	.pro-detail strong {
	display:inline!important;
	color:#787671!important;}