

pre { margin-bottom: 1em; }
    
.jscom, .mix htcom   { color: #4040c2; }
.com      { color: green; }
.regexp   { color: maroon; }
.string   { color: teal; }
.keywords { color: blue; }
.global   { color: #008; }
.numbers  { color: #880; }
.comm     { color: green; }
.tag      { color: blue; }
.entity   { color: blue; }
.string   { color: teal; }
.aname    { color: maroon; }
.avalue   { color: maroon; }
.jquery   { color: #00a; }
.plugin   { color: red; }

li { list-style-type: none; }
.basic, #list2, #list3, #navigation { width:20em; }

#log { position:fixed; bottom: 0; right:1em; text-align:right; }
#switch { position: fixed; bottom: 0; right: 15em; }



.basic  {
	margin:0 !important; overflow:hidden; float:none !important;
	width:auto !important; padding:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	font-family: 'DroidSansRegular';
}
.basic .in { overflow:hidden; background:#f3f3f3;}
.basic div {
	background-color: #fff;
}


.basic a {display:block; font-size:14px; color:#777777; padding:0; line-height:35px; background:url(../images/orange/acc_a_bg.jpg) repeat-x bottom; cursor:pointer; height:36px; border:solid 1px #e2e0e0; font-family: 'DroidSansRegular';margin-bottom:5px;}
.basic a span { background: url("../images/orange/right_arr_1.png") no-repeat scroll left center transparent; display: block; float: left; height: 21px; margin: 7px 10px 0;   width: 21px;}
.basic .acc_expant { background:#fff; overflow:hidden; padding:10px 0 15px 0;}
.basic .image { padding:3px; width:75px; height:75px; background:url(../images/orange/seprator.png) repeat; float:left; margin:7px 15px 0 20px;}
.basic a:hover { }
.basic .readmore { overflow:hidden; clear:both; padding:10px 0 0 20px;}
.basic .readmore a { display:block; float:left; height:24px; line-height:24px; background:url(../images/orange/morebg.png) repeat-x; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:solid 1px #e2e0e0; font-size:13px; color:#817d7d; padding:0 23px;}

/*.basic a {
	cursor:pointer;
	display:block;
	padding:5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;
	background-color: #00a0c6;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #999;
	
	background-image: url("AccordionTab0.gif");
}*/
/*.basic a:hover {
	background-color: white;
	background-image: url("AccordionTab2.gif");
}*/
/*.basic a.selected {
	color: black;
	background-color: #80cfe2;
	background-image: url("AccordionTab2.gif");
}*/
.basic a.selected {background: url("../images/orange/acc_a_selected.jpg") repeat-x scroll 0 0 transparent; color: #FFFFFF; border:none;}
.basic a.selected span { background: url("../images/orange/down_arr.png") no-repeat scroll 0 0 transparent;}





.basic1  {
	margin:0 !important; overflow:hidden; float:none !important;
	width:auto !important; background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	font-family: 'DroidSansRegular'; padding:10px;
}
.basic1 div {
	background-color: #fff;
}
.basic1 a {display:block; font-size:12px; color:#433333; padding:0 0 15px 0; line-height:22px; background:url(../images/orange/seprator.png) repeat-x bottom; cursor:pointer; margin:15px 0 0 0; border-bottom:solid 1px #eeeded;}
.basic1 a span { background: url("../images/orange/right_arr_1.png") no-repeat scroll left center transparent; display: block; float: left; height: 21px; margin: 0 10px 0 0;   width: 21px;}
.basic1 p { padding-top:0 !important;}
.basic1 .acc_expant { background:#fff; overflow:hidden; padding:0 0 0 30px; border-bottom:solid 1px #eeeded;}
.basic1 .image { padding:3px; width:75px; height:75px; background:url(../images/orange/seprator.png) repeat; float:left; margin:10px 15px 0 20px;}
.basic1 a:hover { }
.basic1 p { font-size:12px !important; color:#433333 !important;}

.basic1 a.last { background:none; border:none;}
.basic1 .last { border:none;}

/*.basic a {
	cursor:pointer;
	display:block;
	padding:5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;
	background-color: #00a0c6;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #999;
	
	background-image: url("AccordionTab0.gif");
}*/
/*.basic a:hover {
	background-color: white;
	background-image: url("AccordionTab2.gif");
}*/
/*.basic a.selected {
	color: black;
	background-color: #80cfe2;
	background-image: url("AccordionTab2.gif");
}*/
.basic1 a.selected { background:none; padding-bottom:0; border:none;}
.basic1 a.selected span { background: url("../images/orange/down_arr_1.png") no-repeat scroll 0 0 transparent;}

.toggle {}

.table-1 {
border-radius: 5px 5px 5px 5px; width:640px; border-top:solid 1px #e2e0e0; border-left:solid 1px #e2e0e0; border-bottom:solid 1px #e2e0e0; border-radius:5px; background:#fff;}
.table-1 thead tr { 
}
.table-1 thead th { background:url("../images/orange/thead_bg.jpg") repeat-x; font-family: 'DroidSansBold'; color:#565353; font-size:14px; height:47px; padding:0; border-right:solid 1px #e2e0e0; border-bottom: 1px solid #E2E0E0;}
.table-1 thead th p { font-family: 'DroidSansBold' !important; color:#565353 !important; font-size:14px !important; padding:0 10px !important; line-height:normal !important;}
.table-1 tbody tr { }
.table-1 tbody td { border-right:solid 1px #e2e0e0; padding:10px 0;}
.table-1 tbody td p { font-family: 'DroidSansRegular' !important; color:#565353 !important; font-size:12px !important; padding:0 10px !important; line-height:normal !important;}
.table-1 tbody td p strong { font-family: 'DroidSansBold' !important; font-weight:normal;}
#tab-1, #tab-2, #tab-3 {
    border: 1px solid #E2E0E0;
    border-radius: 5px 5px 5px 5px;}


